.footer_container {
  padding: 40px 0;
  text-align: center;
  .logo_footer {
    margin-left: 15px;
    height: 25px;
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  @media (min-width: 1200px) {
    padding: 0 0 40px 0;
  }
}
