@use 'colors' as c;

@mixin socialLogos {
  width: 30px;
  height: 30px;
  fill: c.$black;
  @media(min-width: 768px) {
    width: 35px;
    height: 35px;
  }
  @media (min-width: 2560px) {
    width: 40px;
    height: 40px;
  }
}

.logo {
  @include socialLogos;
  transition: fill 0.2s ease-in-out;
  &:hover {
    fill: c.$gold;
  }
  &_email {
    fill: c.$gold;
    &:hover {
      fill: c.$black;
    }
  }
}
