@use 'colors' as c;

.container {
  width: fit-content;
  padding: 3px 15px;
  background-color: c.$gold;
  display: flex;
  align-items: center;
  justify-self: center;
  > p {
    margin: 0 !important;
  }
}
