@use 'variables' as v;

.container {
  display: flex;
  width: 100%;
  height: 100%;
  > a {
    height: 100%;
    width: 100%;
    &:first-child {
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
  }
  @media (min-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    > a {
      width: 100%;
      height: 50px;
      &:first-child {
        border-top-left-radius: 0;
      }
      &:last-child {
        border-top-right-radius: 5px;
      }
      @media (min-width: 2560px) {
        height: 70px;
      }
    }
  }
}
