@use 'typography' as t;

//headline1
.heading {
  @include t.headline1();
}
//headline2
.subHeading {
  @include t.headline2();
}

.subtitle {
  @include t.subtitle();
}

//section title
.sectionTitle {
  @include t.section-title();
}

//paragraph
.paragraph {
  @include t.paragraph();
}
