@use 'colors' as c;

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

$primary-ff: 'Patua One', cursive;
$secondary-ff: 'Roboto Slab', serif;
$line-height: 1.4;
$f-color: c.$black;
$letter-spacing: -0.5px;

@mixin headline1(){
  font-family: $primary-ff;
  font-size: 25px;
  color: $f-color;
  line-height: $line-height;
  font-weight: 800;
  letter-spacing: $letter-spacing;
  @media(min-width: 768px) {
    font-size: 45px;
  }
  @media(min-width: 1024px) {
    font-size: 50px;
  }
  @media(min-width: 1200px) {
    font-size: 35px;
  }
  @media(min-width: 1440px) {
    font-size: 35px;
  }
  @media(min-width: 2560px) {
    font-size: 55px;
  }
}

@mixin headline2(){
  font-size: 18px;
  color: $f-color;
  font-family: $primary-ff;
  line-height: $line-height;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  @media(min-width: 768px) {
    font-size: 30px;
  }
  @media(min-width: 1024px) {
    font-size: 30px;
  }
  @media(min-width: 1200px) {
    font-size: 22px;
  }
  @media(min-width: 1440px) {
    font-size: 25px;
  }
  @media(min-width: 2560px) {
    font-size: 40px;
  }
}

@mixin subtitle(){
  font-size: 16px;
  color: $f-color;
  font-family: $primary-ff;
  line-height: $line-height;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  @media(min-width: 768px) {
    font-size: 18px;
  }
  @media(min-width: 1024px) {
    font-size: 20px;
  }

  @media(min-width: 1440px) {
    font-size: 24px;
  }
  @media(min-width: 2560px) {
    font-size: 26px;
  }
}

@mixin section-title(){
  font-family: $primary-ff;
  font-size: 18px;
  color: $f-color;
  line-height: $line-height;
letter-spacing: $letter-spacing;
  @media(min-width: 768px) {
    font-size: 30px;
  }
  @media(min-width: 1024px) {
    font-size: 30px;
  }
  @media(min-width: 1200px) {
    font-size: 20px;
  }
  @media(min-width: 1440px) {
    font-size: 25px;
  }
  @media(min-width: 2560px) {
    font-size: 32px;
  }
}

@mixin paragraph(){
  font-family: $secondary-ff;
  font-size: 14px;
  line-height: $line-height;
  @media(min-width: 768px) {
    font-size: 20px;
  }
  @media(min-width: 1024px) {
    font-size: 20px;
  }
  @media(min-width: 1200px) {
    font-size: 16px;
  }
  @media(min-width: 1440px) {
    font-size: 18px;
  }
  @media(min-width: 2560px) {
    font-size: 24px;
  }
}
