@use 'colors' as c;

$spacing-lg: 35px;
$safari-content-height-md: 600px;
$safari-content-height-lg: 700px;
$safari-content-height-xl: 1000px;

@mixin woodBg{
  background-image: url('./icons/wood.svg');
  background-repeat: repeat;
  @content;
}
@mixin polkadotsBg {
  background-color: c.$white;
  background-image: url('./icons/polkadots.svg');
  background-size: 90%;
  background-repeat: repeat;
  @media(min-width: 768px) {
    background-size: 80%;
  }
  @media(min-width: 1200px){
    background-size: 70%;
  }
}

@mixin staticBg {
  background-color: c.$brand-color;
}

@mixin gradientedBg {
  background: linear-gradient(270deg, c.$brand-color,#fea735);
}

@mixin iconContainer {
  grid-area: icon;
  position: relative;
  left: 0;
  @media (min-width: 768px) {
    left: 40px;
  }
}

a p ,
a:link  p,
a:visited  p,
a:hover  p ,
a:active  p {
  color: c.$black;
}

@mixin card {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  > div > p {
    padding-left: 10px;
  }
}

