.slide-enter {
  opacity: 0;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.slide-exit {
  opacity: 1;
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 300ms;
}
