@use 'variables' as v;
@use 'colors' as c;

.book_container {
  display: grid;
  grid-template-areas: 'title' 'rings' 'content' 'navlinks';
  grid-template-rows: 20% 35px 1fr 60px;
  height: 100vh;
  @media (min-width: 1200px) {
    grid-template-areas: 'title rings content navlinks';
    grid-template-columns: 1fr 50px 1fr 140px;
    grid-template-rows: none;
    height: 100%;
  }
  @media (min-width: 2560px) {
    grid-template-columns: 1fr 50px 1fr 155px;
  }
  .title_container {
    grid-area: title;
    @include v.gradientedBg;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    height: 22%;
    z-index: 1;
    padding-left: 20px;
    @media (min-width: 1200px) {
      padding-left: 40px;
      position: initial;
      height: 100%;
      z-index: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: -6px 10px 43px 0px c.$black;
    }
  }

  .rings_container {
    grid-area: rings;
    background-color: c.$white;
    position: fixed;
    top: 22%;
    width: 100vw;
    z-index: 3;
    height: 30px;
    @media (min-width: 1024px) {
      height: 50px;
    }
    @media (min-width: 1200px) {
      position: relative;
      top: auto;
      height: 100%;
      width: 100%;
      box-shadow: -17px 5px 20px 0px #504d4d2e;
    }
    @media (min-width: 2560px) {
      width: 50px;
    }
    > div {
      position: relative;
      top: -20px;
      width: 100vw;
      height: 50px;
      @media (min-width: 768px) {
        height: 67px;
      }
      @media (min-width: 1200px) {
        position: absolute;
        height: auto;
        width: 30px;
        top: 20px;
        left: -7px;
      }
      @media (min-width: 1440px) {
        width: 40px;
        left: -10px;
      }
      @media (min-width: 2560px) {
        width: 50px;
        top: 18px;
        left: -14px;
      }
    }
  }

  .content_container {
    grid-area: content;
    @include v.polkadotsBg;
    padding: 20px 10px 75px 10px;
    @media (min-width: 360px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: 768px) {
      padding: 80px 50px 100px 50px;
      height: 100%;
    }
    @media (min-width: 1200px) {
      padding: 30px 20px;
      border-right: 6px double c.$black;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 1px 6px 43px 0 c.$black;
      overflow-y: scroll;
    }
   /* @media (min-width: 1440px) {
      padding: 0 30px 0 30px;
    }*/
    @media (min-width: 2560px) {
      padding: 0 50px 0 50px;
    }
    .content_inner {
      display: flex;
      overflow-y: scroll;
      height: 100%;
      @media (min-width: 1200px) {
        overflow-y: initial;
      }
    }
  }

  .navlinks_container {
    grid-area: navlinks;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    box-shadow: 0px 0px 11px 0px black;
    margin: 0 auto;
    width: 90vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    @media (min-width: 768px) {
      height: 85px;
    }
    @media (min-width: 1200px) {
      margin: 0;
      width: auto;
      height: 100%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      flex-direction: column;
      padding-right: 10px;
      position: initial;
      box-shadow: none;
    }
  }
}

.fade {
  transition: opacity 900ms ease-in-out, transform 600ms ease-in-out,
    visibility 900ms ease-in-out;
  will-change: opacity, transform, visibility;
  &_out {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
  }
  &_in {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
