@use 'variables'as v;
@use 'colors'as c;

.content {
  height: 100%;

  @media (min-width: 1200px) {
    height: v.$safari-content-height-md;
  }

  @media (min-width: 1440px) {
    height: v.$safari-content-height-lg;
  }

  @media (min-width: 2560px) {
    height: v.$safari-content-height-xl;
  }

  >div {
    padding: 20px 0;

    &:not(:first-child) {
      border-top: 2px dashed c.$black;
    }

  }
}
