@use 'variables' as v;

.wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  @media (min-width: 1200px) {
    width: 30px;
    height: 100vh;
    flex-direction: column;
  }

  > svg {
    transform: rotate(90deg);
    height: 50px;
    width: 25px;
    @media (min-width: 768px) {
      width: 40px;
    }
    @media (min-width: 1200px) {
      transform: rotate(180deg);
      height: 30px;
      padding-bottom: 20px;
      > &:first-child {
        padding-top: 20px;
      }
    }
    @media (min-width: 1440px) {
      height: 33px;
    }
    @media (min-width: 2560px) {
      height: 50px;
    }
  }
  @media (min-width: 1200px) {
    height: auto;
  }
}
