@use 'variables'as v;
@use 'colors'as c;

.content {
  height: 100%;

  @media (min-width: 1200px) {
    height: v.$safari-content-height-md;
  }

  @media (min-width: 1440px) {
    height: v.$safari-content-height-lg;
  }

  @media (min-width: 2560px) {
    height: v.$safari-content-height-xl;
  }

  >div:first-child {
    margin-bottom: v.$spacing-lg - 5px;
  }

  .card {
    @include v.card;

    &:hover {
      border-color: c.$gold;

      .linkIco {
        fill: c.$gold;
      }
    }

    >div>p {
      padding-left: 0;
    }

    .pngSize {
      width: 40px;
      height: 45px;
      margin-right: 10px;
    }
  }
}

.cardsContainer>div {
  padding: 20px 0;
  &:not(:first-child) {
    border-top: 2px dashed c.$black;
  }

}
