@use 'variables' as v;
@use 'typography' as t;
@use 'colors' as c;

.link {
  @media (min-width: 1200px) {
    height: 70px;
    padding: 10px;
    font-family: t.$secondary-ff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 0px 15px 0px #000000db;
    &:not(last-child) {
      margin-bottom: 5px;
    }
  }
  @media (min-width: 2560px) {
    font-size: 18px;
  }
}

.normal {
  background-color: c.$black;
  .navIcon {
    fill: c.$white;
  }
  .about > p {
    color: c.$white;
  }
  @media (min-width: 1200px) {
    background-color: c.$black;
    color: c.$white;
  }
}

.active_normal {
  background-color: c.$goldy;
  .navIcon {
    fill: c.$black;
  }
  .about > p {
    color: c.$black;
  }
  @media (min-width: 1200px) {
    background-color: c.$white;
    color: c.$black;
  }
}

.navIcon {
  width: 30px;
  height: 30px;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media (min-width: 1200px) {
    width: 20px;
    height: 20px;
  }
}

.accent {
  background-color: c.$black;
  .navIcon {
    fill: c.$goldy;
  }
  @media (min-width: 1200px) {
    color: c.$brand-color;
  }
}

.active_accent {
  background-color: c.$brand-color;
  .navIcon {
    fill: c.$black;
  }
  @media (min-width: 1200px) {
    color: c.$black;
    font-weight: 700;
  }
}

.largeScreensAlignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallScreensAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}
