@use 'colors'as c;
@use 'typography'as t;

.container {
  >div>* {
    margin-bottom: 10px;
  }

  .title {
    @include t.section-title();
    letter-spacing: 0.3px;
    color: c.$black;
    background: c.$gold;
    padding: 0 5px;
  }

  .description {
    @include t.paragraph();
    color: c.$black;
    letter-spacing: 0.3px;
    text-align: center;
  }

  .techLogo {
    &>svg {
      fill: c.$black;
      width: 35px;
      height: 35px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.techDescription,
.company {
  color: c.$black;
  letter-spacing: 0.3px;
  font-family: 'Patua One';
}

.company {
  font-variant: small-caps;
  text-decoration: dashed;
}

.goldDot {
  color: c.$gold;
  padding: 0 5px;
}
