@use 'variables'as v;
@use 'colors'as c;
@use 'typography'as t;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contentContainer {
  position: relative;
  padding-top: 30px;

  .me {
    border: 5px dashed c.$gold;
    object-fit: cover;
    height: 310px;
    @media(min-width: 1440px) {
      height: 350px;
    }
  }

  .iconBoxContainer {
    position: absolute;
    top: 30%;
    right: 0;
    @include v.polkadotsBg;
    padding: 10px;
    background-size: 130%!important;
    border: 2px dashed c.$black;

    >div>div:not(:last-child) {
      // this is not optimal
      margin-bottom: 10px;
    }
  }
}

.descriptionContainer {
  text-align: center;
  padding-bottom: 50px;
  p {
    @include t.paragraph();
      margin-bottom: 10px;
  }

  .goldLabel {
    background-color: c.$gold;
    padding: 0 3px;
  }
}
