@use 'colors'as c;

@mixin box($color, $borders: false) {
  background-color: $color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;

  @if $color == 'black' && $borders {
    border: 4px dashed c.$gold;
  }

  @if $color == 'gold' && $borders {
    border: 4px dashed c.$black;
  }

}

.black {
  @include box(c.$black, $borders: true);
}

.gold {
  @include box(c.$gold, $borders: true);
}

.white {
  @include box(trasparent, $borders: false);
}
