@use 'colors'as c;
@use 'typography'as t;

.title,
.titleLink {
  color: c.$black;
  letter-spacing: 0.3px;
  @include t.paragraph();

}

.titleLink {
  color: c.$black;

  &:visited,
  &:hover,
  &:link,
  &:active {
    color: c.$gold;
    text-decoration: underline;
  }
}

svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  fill: c.$gold;

  @media (min-width: 768px) {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}
