@use './styles/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    @include v.woodBg;
    display: grid;
    grid-template-areas: '. . . ' '. main .' '. . .';
    grid-template-columns: 1fr 1100px 1fr;
    grid-template-rows: 1fr v.$safari-content-height-md 1fr;
    height: 100vh;
    overflow-y: hidden;
    > div {
      grid-area: main;
    }
  }
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1260px 1fr;
    grid-template-rows: 1fr v.$safari-content-height-lg 1fr;
  }
  @media (min-width: 2560px) {
    grid-template-columns: 1fr 1600px 1fr;
    grid-template-rows: 1fr v.$safari-content-height-xl 1fr;
  }
}
