@use 'variables' as v;
@use 'typography' as t;
@use 'colors' as c;

.listContainer > div:not(:last-child) {
  padding-bottom: 20px;
}

.title {
  @include t.paragraph();
  line-height: 1.7;
}

.bold {
  font-weight: 800;
  background-color: c.$mustard;
  padding: 0 5px;
}
